@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

body {
  margin: 0;
  background-color: hsl(233, 47%, 7%);
}
h2,
p,
strong {
  margin: 0;
  font: inherit;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  vertical-align: top;
}

:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

.la-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
}
.section-card {
  display: flex;
  width: 1125px;
  font-size: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
}
.section-card-text {
  width: 50%;
  padding: 75px 90px 70px 75px;
  box-sizing: border-box;
  background-color: hsl(244, 38%, 16%);
}
.section-card-text-title {
  font-size: 3.7rem;
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 30px;
  color: white;
}
.section-card-text-title strong {
  color: hsl(277, 64%, 61%);
}
.section-card-text-desc {
  font-size: 1.6rem;
  color: hsla(0, 0%, 100%, 0.75);
  line-height: 2.5rem;
  margin-bottom: 60px;
}
.data-list {
  display: flex;
  gap: 50px;
}
.data-list-num {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: white;
}
.data-list-title {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.75);
}

.section-card-img {
  position: relative;
  width: 50%;
}
.section-card-img::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-color: rgba(170, 92, 219, 0.5);
}
