@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%;
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}
body p {
  margin: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  vertical-align: top;
}
strong {
  font: inherit;
}
body {
  background-color: var(--dark-cyan);
  background-image: url(./images/bg-pattern-top.svg),
    url(./images/bg-pattern-bottom.svg);
  background-position: -55% 55%, 150% -40%;
  background-repeat: no-repeat;
}
.ir {
  position: absolute;
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}
.la-wrap {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.profile-card {
  width: 350px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
}
.profile-card-bg {
  width: 100%;
  height: 150px;
  background: url(./images/bg-pattern-card.svg) no-repeat;
}

.profile-card-info {
  padding: 24px 0;
  text-align: center;
  margin-top: -90px;
  box-sizing: border-box;
}
.profile-card-info-pic {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid white;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 24px;
}
.profile-card-info-text {
  font-size: 1.8rem;
  color: var(--dark-gray);
}
.profile-card-info-text strong {
  font-weight: 700;
  margin-right: 5px;
  color: var(--very-dark-desaturated-blue);
}
.profile-card-info-text:last-child {
  font-size: 1.4rem;
  margin-top: 8px;
}
.profile-card-stats {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 24px 45px;
  border-top: 1px solid var(--dark-gray);
  box-sizing: border-box;
}
.profile-card-stats li {
  width: 57px;
}
.profile-card-stats-num {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 6px;
  color: var(--very-dark-desaturated-blue);
}
.profile-card-stats-name {
  color: var(--dark-gray);
  letter-spacing: 0.15rem;
}
