.main-header {
  margin-bottom: 16rem;
}
.main-header-wrap {
  display: flex;
  padding: 4rem 0;
  box-sizing: border-box;
}
.main-logo {
  font-size: 2.4rem;
  font-weight: 600;
}
.header-link {
  margin-left: auto;
  font-size: 2.4rem;
}
.source-link {
  border-bottom: 1px solid rgb(28, 18, 0);
}

.dsc-section {
  display: flex;
  margin-bottom: 8rem;
  word-break: keep-all;
}
.lg-title {
  font-size: 2.4rem;
  line-height: 1.5;
  font-weight: 600;
}
.dsc-section .lg-title {
  min-width: 36rem;
  flex-shrink: 1;
  margin-right: 7.2rem;
}
.sm-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}
.dsc-txt-list {
  margin-top: 2rem;
  line-height: 1.5;
}
.dsc-txt-list li + li {
  margin-top: 0.8rem;
}
.dsc-txt-list li {
  display: flex;
  align-items: center;
}
.dsc-txt-list li::before {
  content: "";
  display: inline-block;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  margin-right: 0.8rem;
  background-color: rgb(28, 18, 0);
}

.work-list-section + .work-list-section {
  margin: 16rem 0;
}
.work-list-section .lg-title {
  margin-bottom: 4rem;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3.2rem;
}
.work-list li {
  flex-basis: calc((100% - 6.4rem) / 3);
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 2px 2px 20px rgba(225, 225, 225, 0.7);
  border-radius: 2rem;
}
.work-list li:hover .work-list-img-wrap img {
  transform: translate(-50%, -50%) scale(1.1);
  transition-duration: 0.5s;
}

.work-list li:hover {
  background-color: rgb(224, 224, 224);
  transition-duration: 0.5s;
}
.work-list-txt {
  font-weight: 500;
  margin-bottom: 2rem;
}
.work-list-txt-sm {
  font-size: 1.4rem;
}
.work-list-txt-sm + .work-list-txt-sm {
  margin-left: 3.2rem;
}
.work-list-img-wrap {
  position: relative;
  width: 100%;
  aspect-ratio: 1/0.5;
  margin-bottom: 2rem;
  overflow: hidden;
}
.work-list-img-wrap img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-footer .la-wrap {
  padding: 3.2rem 0;
  font-size: 1.4rem;
  border-top: 1px solid rgb(28, 18, 0);
}

@media screen and (max-width: 1240px) {
  .dsc-section {
    display: block;
  }
  .lg-title {
    margin-bottom: 4rem;
  }

  .work-list li {
    flex-basis: calc((100% - 3.2rem) / 2);
  }
}

@media screen and (max-width: 797px) {
  .main-header {
    margin-bottom: 8rem;
  }
  .main-header-wrap {
    padding: 2.4rem 0;
  }
  .lg-title {
    margin-bottom: 4rem;
  }
  .dsc-txt-list li::before {
    margin-right: 1.6rem;
  }

  .work-list {
    gap: 1.6rem;
  }
  .work-list li {
    flex-basis: 100%;
  }

  .work-list-section .lg-title {
    margin-bottom: 2.4rem;
  }
  .work-list-section + .work-list-section {
    margin: 8rem 0;
  }
  .work-list-txt {
    margin-bottom: 0.8rem;
  }
  .work-list-txt-sm + .work-list-txt-sm {
    margin-left: 0.8rem;
  }
}
